absl-py
astunparse
boto3
botocore
box2d-py
brotlipy
cachetools
certifi
charset-normalizer
click
cloudpickle
colorama
conda
Cython
dataclasses
editdistance
fairseq
filelock
flatbuffers
gast
geoopt
glfw
google-auth
google-auth-oauthlib
google-pasta
grpcio
gym
h5py
huggingface-hub
hydra-core
idna
imageio
importlib-metadata
importlib-resources
jmespath
joblib
keras
Keras-Preprocessing
libclang
lockfile
Markdown
numpy
oauthlib
omegaconf
opencv-python
opt-einsum
packaging
pandas
Pillow
portalocker
protobuf
pyasn1
pyasn1-modules
pycosat
pyglet
pyparsing
python-dateutil
pytz
regex
requests
requests-oauthlib
rsa
s3transfer
sacrebleu
sacremoses
scipy
six
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-gpu
tensorflow-io-gcs-filesystem
termcolor
tokenizers
torch
transformers
typing-extensions
Werkzeug
Whoosh
wincertstore
wrapt
zipp
bitarray
fastBPE
antlr4-python3-runtime==4.8
urllib3==1.25.4
PyYAML==5.1.0